In [2]:
check = input('Can you confirm if this is correct? (y/n)').lower()
while check != 'y':
    check = input('Can you confirm if this is correct? (y/n)').lower()
else:
    print('Great! Thanks for confirming.')

Can you confirm if this is correct? (y/n)n
Can you confirm if this is correct? (y/n)n
Can you confirm if this is correct? (y/n)y
Great! Thanks for confirming.

In [17]:
import pandas as pd
df = pd.read_csv('simulated_ddos_data.csv')
df.head()

     magnitude record_type  is_ddos  uuid            timestamp
0  3917.150671      normal        0     1  2020-07-01 00:01:00
1  9379.403504      normal        0     2  2020-07-01 00:02:00
2  1544.080967      normal        0     3  2020-07-01 00:03:00
3  3403.995906      normal        0     4  2020-07-01 00:04:00
4  4883.865333      normal        0     5  2020-07-01 00:05:00

In [21]:
malicious = df.loc[df.is_ddos==1,:].copy().reset_index(drop=True)
malicious.head()

      magnitude record_type  is_ddos  uuid            timestamp
0  24376.432653        DDoS        1     1  2020-07-01 00:01:00
1  26458.007847        DDoS        1     2  2020-07-01 00:02:00
2  25435.641576        DDoS        1     3  2020-07-01 00:03:00
3  23201.816407        DDoS        1     4  2020-07-01 00:04:00
4  20026.438697        DDoS        1     5  2020-07-01 00:05:00

In [58]:
df.loc[df.is_ddos==1,'magnitude'].copy().reset_index(drop=True).median()

25117.52355716445

In [22]:
normal = df.loc[df.is_ddos==0,:].copy().reset_index(drop=True)
print(len(malicious.index), len(normal.index), len(malicious.index) + len(normal.index) )

300 86100 86400

In [25]:
sorted(list(df.is_ddos.unique()))

[0, 1]